* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  max-width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item {
  width: 15px;
  height: 15px;
  margin: 2px;
  background-color: #1d1d1d;
  box-shadow: 0 0 2px;
  transition: all 3s;
}

.item:hover {
  transition-duration: 0s;
}